.container1 {
    transform: perspective(600px) rotateY(20deg);
    width: 600px;
    height: auto;
  }
  .container2 {
    transform: perspective(600px) rotateY(-20deg); 
    width: 600px;
    height: auto;
  }
  .ui {
    display: flex;
    background-color: red;
  }
  html {
    background-color: #000;
  }